@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  background: #fff;
  color: #053626;
  font-family: "Poppins", sans-serif;
  text-align: center;
  transition: background-color .5s,color .5s; }
  body.dark-theme {
    background-color: #053626;
    color: #fff;
    transition: background-color .5s,color .5s; }
  body.en :lang(nl) {
    display: none; }
  body.nl :lang(en) {
    display: none; }

h1, h2 {
  font-weight: bold;
  letter-spacing: .1rem; }

.fa-lightbulb-o {
  color: #053626; }
  .fa-lightbulb-o.dark-theme {
    color: #fff !important;
    transition: background-color .5s,color .5s; }

a.dark-theme {
  color: white !important; }

a.nav-link {
  color: #053626; }
  a.nav-link.dark-theme {
    background-color: #053626;
    color: #fff;
    transition: background-color .5s,color .5s; }

.navbar-toggler {
  border: 1px dashed #053626; }

i.fa.fa-bars {
  font-size: 1.9rem;
  color: #053626; }
  i.fa.fa-bars.dark-theme {
    background-color: #053626;
    color: #fff;
    transition: background-color .5s,color .5s; }

.nav-item {
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-weight: 700;
  margin: 0 2em; }
  .nav-item:hover {
    text-decoration: underline; }

.button-lang {
  background: none;
  border: none;
  color: #053626;
  font-weight: bold;
  border: 1px dashed #053626; }
  .button-lang.dark-theme {
    background-color: #053626;
    color: #fff;
    transition: background-color .5s,color .5s;
    border: 1px dashed #fff; }

@media (min-width: 768px) {
  .nav-home {
    margin-left: 5em; } }

#nav-button {
  margin: 0.3em 0 0 0; }

#button-lang {
  border: none;
  background-color: none;
  cursor: pointer; }

.fa-lightbulb-o:before {
  font-size: 2rem; }

.overmij {
  margin-top: 5em; }

.ik-ben {
  margin-top: 4em;
  font-weight: 700; }

.omschrijving-ik {
  font-size: 1.1rem;
  font-weight: 400; }

@media (min-width: 769px) {
  #icon-1 {
    margin-left: 10em; } }

.devicon {
  font-size: 3em; }

@media (max-width: 769px) {
  .col-md-1.col-xs-3 {
    width: 50%; } }

.col-md-1 {
  margin: 3em 0 0 0; }

.copyklein {
  font-size: .8em; }

a {
  color: #053626; }
